[2020-06-19 17:24] florianthiery opened #2 "Gliederung anpassen"

[2020-06-19 17:30] florianthiery opened #3 "Kriterien zur Software-Evaluation"
Tabelle zur schnellen Übersicht. Kriterien dürfen gern noch ergänzt oder angepasst werden.
Anleitung ist [unten](https://github.com/Research-Squirrel-Engineers/DGUF_Leitfaden/issues/3#issuecomment-648367218) zu finden.

| Kriterium                                     | Anne    | Sophie | Martina | Timo | Clemens | Lutz | Florian | Hubert |
|-----------------------------------------------|---------

[2020-06-19 17:39] florianthiery opened #4 "minutes 19/06/20"
hier gerne eure Notizen @SCSchmidt @archaeoklammt

[2020-06-20 10:26] ennatmm opened #5 "Github Page follow up"
Wollen wir an Plan einer Diskussion des Papers vor der Einreichung bei der DGUF/Arch. Infomrationen festhalten?
Wenn ja, dann moittels Github-Page?
Wer möchte sich dann darum kümmern?

[2020-06-20 10:29] ennatmm opened #6 "Frage zu Issue-assignement"
Kurze Frage zur Vorgehensweise:
Weise ich Issue der Person zu, von der ich denke, sie könnte es vielleicht machen?
Wenn ja, dann müsste "Timo-Relevanz" allen außer Timo zugewiesen werden, oder?

[2020-06-20 10:31] florianthiery commented on #6
können wir so machen, also assignees sind die, die die Aufgabe zugewiesen bekommen.

[2020-06-20 10:32] #6 closed, assigned to florianthiery

[2020-06-20 10:34] florianthiery commented on #5
Fände ich eine gute Sache @archaeoklammt , dann so wie du meintest als Git Pages ggf. mit einem Zenodo Link, dann können wir das da überarbeiten und über Pull Requests Änderungen reinholen und dann entwickelt sich das weiter. Ähnlich wie das bei dem [White Paper](https://github.com/opengeospatial/geosemantics-dwg) von dem @situx gesprochen hat, war, da hab ich dann genauso auch beigetragen.

[2020-06-20 21:46] situx commented on #5
Ich kann das machen, aber ich darf es aktuell nicht. Denn dazu brauche ich erweiterte Rechte im Repository um die Github Page zu erstellen.

[2020-06-21 13:23] bellerophons-pegasus commented on #5
Vielleicht kann man ja dann auch über die Arch. Informationen Werbung dafür machen. Und eventuell auch kurz erläutern wie Vorschläge und Änderungen eingereicht werden können.

[2020-06-21 13:27] bellerophons-pegasus commented on #4
[Notizen](https://github.com/ennatmm/DGUF_Leitfaden/blob/master/2020-06-19_diskussion.md) von @SCSchmidt

[2020-06-21 13:33] bellerophons-pegasus commented on #3
In dem Entwurf sind bereits einige Vorschläge für Kriterien der Sofware-Evaluation.
Siehe [hier](https://github.com/ennatmm/DGUF_Leitfaden/blob/master/Draft.md#kriterien-zur-beurteilung-von-software)

Um unnötige Arbeit zu vermeiden, kann hier jeder auflisten, was für relevant oder weniger relevant gehalten wird. Das kann dann verschnitten werden.

[2020-06-21 14:05] florianthiery commented on #5
@archaeoklammt @ennatmm bitte Timo / und / oder uns die Rechte dafür geben und @bellerophons-pegasus das wäre eine coole Sache, darüber auf jeden Fall verbreiten und ggf. noch über andere Kanäle.

[2020-06-22 06:36] ennatmm commented on #5
Ich habe geschaut, aber ich finde nicht, wie ich die Rechte ändern könnte. Ich sehe nur collaborators.
Geändert habe ich jetzt, dass die GithubPages über den masterbranch abgewickelt werden.
Hilft das? @situx

[2020-06-22 06:40] ennatmm opened #8 "Beispiele für Rezensionen"
Gut fände ich:
- Beispiele für gelungene Rezensionen (oder Rez. in denen bestimmte Aspekte gut gelungen sind) aus den verschiedenen Bereichen der Archäologie nennen.
- gerne auch von uns/euch, das zeigt dann: wir wissen selbst, was das für Arbeit sein kann, so eine Rez.

[2020-06-22 07:06] florianthiery commented on #8
ich hab persönlich noch nie eine geschrieben aber kann gern mal schauen ob ich im netz was finde, was ich für guterachte

[2020-06-22 07:08] florianthiery commented on #5
@ennatmm unter seetings > manage access > mitglied hinzufügen und Admin-Rechte geben :-)

[2020-06-22 07:25] nevrome commented on #8
Mein c14bazAAR Paket wurde in einem rOpenSci software review geprüft: https://github.com/ropensci/software-review/issues/333 und ich habe selbst am Review zu einem nicht-Archäologie Paket mitgearbeitet.

rOpenSci ist allerdings sehr speziell auf R Pakete ausgelegt und ich kann mit Sicherheit sagen, dass dort bisher nicht viel Archäologie aufgetaucht ist.

[2020-06-22 07:28] ennatmm commented on #5
Sollte man denken, ist aber nicht möglich. Ich habe keine Auswahlmöglichkeit, sondern kann nur collabs einladen. Ich kann die Rechte der Members nicht verändern. Alles das hätte ich von meinen wenigen Gitlab-Erfahrungen erwartet - jedoch ...
![add_collab](https://user-images.githubusercontent.com/40546882/85260284-b7b75580-b46a-11ea-8e89-c599d07d7651.PNG)

[2020-06-22 07:56] ennatmm commented on #8
Relevant ist - denke ich -, allein, dass sich eine Rezension unter bestimmten Aspekten als positives Anschauungsmaterial für die "Handreichung" (formerly known as Leitfaden) eignet.

[2020-06-22 07:57] ennatmm commented on #8
Ja gerne und gibt es nichts im reichen Fundus der CAA?

[2020-06-22 08:29] florianthiery commented on #8
ich muss mal schauen und hab die Twitter Community mal darauf angesetzt ;-)

[2020-06-22 09:20] florianthiery commented on #5
@ennatmm und ich haben das repo in https://github.com/Research-Squirrel-Engineers/DGUF_Leitfaden umgezogen und ihr solltet jetzt alle (vorrübergehend) Admin rechte haben, könnt also basteln wie ihr lustig seid.

[2020-06-22 09:36] florianthiery commented on #8
https://twitter.com/fthierygeo/status/1274978280228229121

[2020-06-22 09:47] ennatmm opened #9 "CARE?-Prinzipien Literatur"
In dem Meeting wurde mehrfach CARE als weitere Orientierung neben FAIR erwähnt. Gibt es dazu empfehlenswerte Literatur? Ich habe verstanden, dass es insbesondere um Software geht?

[2020-06-22 10:08] ennatmm commented on #9
https://www.gida-global.org/care
Done

[2020-06-22 10:08] #9 closed, assigned to bellerophons-pegasus, nevrome

[2020-06-22 14:32] situx commented on #5
Wir haben nun eine Github Page.
Hauptseite:
https://research-squirrel-engineers.github.io/DGUF_Leitfaden/
Draft:
https://research-squirrel-engineers.github.io/DGUF_Leitfaden/Draft

Die Seite beinhaltet nun auch eine Bibliographie die aus dem BibTeX File gespeist wird. Alle Zitate von Literatur die ich im Text gefunden habe habe ich so angepasst, dass sie bei Klick auf ein Zitat zur Bibliographie s

[2020-06-22 17:27] SCSchmidt commented on #8
@florianthiery , Twitter zu fragen, war eine super Idee. Jeremy Hugget verwies auf Internet Archaeology (https://intarch.ac.uk/) und da gibt es eine Reihe von Rezensionen, die wir analysieren können (auch wenn sie insgesamt nur sehr sporadisch auftauchen):
https://doi.org/10.11141/ia.42.13
https://doi.org/10.11141/ia.38.5
https://doi.org/10.11141/ia.25.6
https://doi.org/10.11141/ia.8.9
https://doi

[2020-06-23 11:17] SCSchmidt commented on #3
@bellerophons-pegasus , sorry der doofen Nachfrage, aber das System hab ich nicht ganz gerallt: Soll ich hier im Thread aufführen, was ich sinnvoll halte oder in den Draft reinschreiben?

[2020-06-23 11:21] archaeoklammt opened #19 "Kommentare 1. Absatz"

[2020-06-23 11:25] archaeoklammt opened #20 "Endredaktion: Check gendergerechte Sprache / männl. Schreibweise"
In Text und Kommentaren werden verschiedene Lösungen verfolgt - je nach dem, wer es geschrieben hat.

[2020-06-23 11:27] archaeoklammt opened #21 "Abschnitt FAIR straffen und kürzen"

[2020-06-23 11:48] archaeoklammt opened #22 "Kommentare Abschnitt Fachliche Beurteilung"
Außerdem ist die Überschrift unklar - gemeint ist Beurteilung auf Archäologie hin

[2020-06-23 11:49] archaeoklammt opened #23 "Kommentare Abschnitt "handwerkliche Qualität""

[2020-06-23 11:50] archaeoklammt opened #24 "Kommentare Abschnitt "Nutzbarkeit""

[2020-06-23 11:52] archaeoklammt opened #25 "Autorinnen und Autoren, Affilation anfügen, Titel eventuell streichen?"

[2020-06-23 12:01] archaeoklammt opened #26 "Webseite abgeschossen?"
Holla, ich habe Text im Draft geändert, nun geht die Webseit enicht mehr. Ein Traum ....

[2020-06-23 12:41] situx commented on #26
Was geht nicht mehr? Kann es gerade nicht nachvollziehen

[2020-06-23 12:59] archaeoklammt commented on #26
Hi Timo,
sorry für diese Null-CheckerEmails.
Von hier https://research-squirrel-engineers.github.io/DGUF_Leitfaden/ passiert nüscht, wenn ich „Webseite“ klicke.

BG
Anne

Dr. Anne Klammt
Digital Humanities
Humanités numériques

E-Mail: aklammt@dfk-paris.org<mailto:aklammt@dfk-paris.org>

Deutsches Forum für Kunstgeschichte Paris
Centre allemand d’histoire de l’art Paris
Hôtel Lully
45, rue des Pet

[2020-06-23 13:37] situx commented on #26
Da passiert auch nichts. Der Artikel ist ja unter dem Draft Link.
https://research-squirrel-engineers.github.io/DGUF_Leitfaden/Draft.html

[2020-06-23 16:10] SCSchmidt commented on #21
hab da gerade ganz viel rumgebastelt.

[2020-06-23 16:15] SCSchmidt commented on #24
Hab ich gemacht.

[2020-06-23 16:16] SCSchmidt commented on #20
Ich bin für das Gender-Sternchen. Kann aber sein, dass die ArchInf uns das wieder rausstreichen. Die gendern nicht, wenn ich das recht sehe.
Für "unseren" draft und die homepage würde ich es drinnen lassen.

[2020-06-23 16:18] SCSchmidt commented on #2
Den Gliederungsvorschlag hab ich nochmal ien klein bisschen geändert und dann auch schon angefangen umzusetzen.
Hab leider vergessen, dass über einen Pull-Request zu tun, den man hier gut referenzieren könnte...
schorry.

[2020-06-23 18:54] bellerophons-pegasus commented on #25
Beides gern

[2020-06-23 18:55] bellerophons-pegasus commented on #3
Hier im Thread.
Habe mir auch was schlaues überlegt, das ich gleich im nächsten Kommentar einbaue.

[2020-06-23 19:19] bellerophons-pegasus commented on #3
In der Beschreibung ist nun eine Tabelle zum 'ankreuzen' da. Man kann leider keine anklickbaren Checkboxen in Tabellen hier einfügen (in Listen geht das). Daher muss man den Quellcode bearbeiten. Entweder direkt hier, oder, wer eine visuelle Unterstützung braucht, kann auf https://www.tablesgenerator.com/markdown_tables# den gesamten Tabellencode in das obere Fenster reinkopieren und die Tabelle d

[2020-06-23 19:29] nevrome commented on #3
@bellerophons-pegasus Könntest du nochmal kurz ausführen, was es bedeutet, wenn ich ein Häckchen setze?

[2020-06-23 19:36] bellerophons-pegasus commented on #2
Habe noch einmal ein wenig an der Gliederung geschraubt.
Bin nämlich der Ansicht, dass zuerst FAIR, dann Open Science und dann CARE besprochen werden sollte. FAIR beinhaltet nämlich nicht die Forderung nach 'Open x' und ist so etwas wie ein Minimalstandard, während Open Sciene und CARE dann entsprechend noch mehr fordern.
Werde auch noch weiter ausformulieren, wenn ich wieder beide Hände frei habe

[2020-06-23 19:38] bellerophons-pegasus commented on #3
Ah ja: ich hätte gedacht Häkchen bedeutet 'finde ich relevant'
Und wenn jemand mehr dazu ausführen möchte, gibt es hier in den Kommentaren ausreichend Platz

[2020-06-23 20:33] florianthiery commented on #25
Ich brauch meinen Titel nicht, nur als Affil. werden die Squirrel stehen müssen, da ich meinen Arbeitgeber nicht verwenden darf

[2020-06-23 20:35] florianthiery commented on #26
Ist dann dann zum Schließen @archaeoklammt ?

[2020-06-24 05:18] florianthiery commented on #25
hab mal die Titel entfernt und sortiert, bei euch bitte die affiliation per PR hinzufügen

[2020-06-24 05:29] florianthiery commented on #3
meine Haken sind drin, hab leider nur deinen "leeren haken" @bellerophons-pegasus rausgemacht den musste wieder reinsetzen, weiß nimmer wo :-( hab da nen leeres sternchen für sowas verwendet

[2020-06-24 07:10] #26 closed, assigned to situx, florianthiery

[2020-06-24 07:12] archaeoklammt commented on #4
Lieben Dank Sophie habe nur einen Punkt ergänzt.

[2020-06-24 07:12] #4 closed, assigned to SCSchmidt

[2020-06-24 07:21] archaeoklammt commented on #3
Hola, die Tabelle finde ich prima. Ich gebe aber zu, dass es Punkte gab, bei denen ich nicht genau wusste, was es ist bzw. wie ich das von anderen Punkten abgrenze. Das betrifft insbesondere die Themen Sicherheit, Dokumentation/Builtprozesse und ein wenig auch rechtsfragen. Aber das ist ja vielleicht auch eine interessante Info..... :-$

[2020-06-24 10:55] SCSchmidt commented on #25
Wenn wir noch ein zwei Wochen warten, kann ich da vmtl "DAI" hinschreiben. ;-P

[2020-06-24 10:57] archaeoklammt commented on #25
Très bien ! Félicitations !!

Dr. Anne Klammt
Digital Humanities
Humanités numériques

E-Mail: aklammt@dfk-paris.org<mailto:aklammt@dfk-paris.org>

Deutsches Forum für Kunstgeschichte Paris
Centre allemand d’histoire de l’art Paris
Hôtel Lully
45, rue des Petits Champs
F-75001 Paris

https://dfk-paris.org

De : Sophie C. Schmidt [mailto:notifications@github.com]
Envoyé : mercredi 24 juin 2020 12:5

[2020-06-24 11:33] SCSchmidt commented on #3
Ich weiß gerade nicht genau, welcher Punkt exakt mit "Relevanz" gemeint war. War das der von Lutz? :-D

Ein paar Punkte waren Überschriften, richtig? Hab sie... nicht angehakt, wenn ich die Unterpunkte angehakt hab oderso.

[2020-06-24 11:39] SCSchmidt commented on #25
Danke! :-D
NFDI macht's möglich. Für 3 Monate.

[2020-06-24 11:41] #25 closed, assigned to bellerophons-pegasus, situx, florianthiery, hpclutz, nevrome, SCSchmidt, ennatmm, archaeoklammt

[2020-06-24 15:31] archaeoklammt commented on #21
Denke der task kann zu. Er sollte ja nur die Kommentare dazu konservieren. das ist jetzt "historisch"

[2020-06-24 15:31] #21 closed, assigned to nobody

[2020-06-24 15:32] archaeoklammt commented on #19
Denke ist bereits "historisch" daher geschlossen

[2020-06-24 15:32] #19 closed, assigned to bellerophons-pegasus, situx

[2020-06-24 15:33] #24 closed, assigned to nobody

[2020-06-25 19:19] bellerophons-pegasus commented on #3
Ja, da waren auch ein paar Überschriften dabei. Habe nämlich einfach mal die Kriterien kopiert und fast nur die Überschriften belassen... teilweise aber auch Stichworte aus den Listen verwendet. War da nicht ganz konsequent, aber fürs erste sollte das so reichen.
@florianthiery die leere Box ist nicht so wichtig; geht ja auch ohne

[2020-06-25 19:21] bellerophons-pegasus commented on #3
Man kann übrigens einen Unterschied zwischen den eher archäologisch Arbeitenden und den eher informationstechnologisch Arbeitenden erkennen ;-)

[2020-06-25 19:24] bellerophons-pegasus commented on #20
Das sollten wir ganz zum Schluss bereinigen.
Ich persönlich mag weder Stern noch Schrägstrich oder Binnen-I. Die stören mich immer im Lesefluss.
Für einen Artikel habe ich mir mit Ersatzwörtern geholfen: https://geschicktgendern.de/ und an einigen wenigen stellen auch tatsächlich einfach beide Geschlechter aufgezählt ... aber mittlerweile ist das ja auch nicht mehr binär und eine Wissenschaft für

[2020-06-25 19:33] florianthiery commented on #3
Hahahaha

[2020-06-25 19:34] bellerophons-pegasus commented on #2
Noch einmal etwas an der Gliederung gefeilt.
@nevrome könntest du bitte noch einen Blick nach ganz unten bei den Kriterien werfen? Da habe ich den Abschnitt "Die handwerkliche Qualität" reinkopiert, der da irgendwo eingearbeitet gehört, da das für den ersten eher theoretischen Teil schon zu spezifisch ist.

[2020-06-25 19:35] bellerophons-pegasus commented on #23
Die Abschnitte wurden inzwischen an etwas passendere Stellen geschoben. Jedoch muss der Fließtext noch überarbeitet werden, um das abzurunden

[2020-06-26 07:06] archaeoklammt commented on #3
Nein? Aber nie im Leben! ;)

[2020-06-26 07:17] archaeoklammt opened #28 "Finale: Summary/Zusammenfassung (150/200 Wörter)"
Arch. Informationen Redaktionsrichtlinien:
"4. eine Zusammenfassung in deutscher und englischer Sprache im Umfang von je etwa 150 bis 200 Wörtern;"

http://www.dguf.de/ai-redaktionsrichtlinien.html

[2020-06-26 07:19] archaeoklammt opened #29 "Finale: Titel in deutscher und englischer Sprache"
"1. einen Titel in deutscher und englischer Sprache;"

http://www.dguf.de/ai-redaktionsrichtlinien.html

[2020-06-26 07:21] archaeoklammt opened #30 "Finale: Autorenliste inkl. ORCID / eine Adresse / institutionelle Anbindung"
"2. eine vollständige Liste der Autoren (siehe unten: Autorenschaft), möglichst inkl. deren ORCID; siehe DGUF-Handreichung zur ORCID [PDF];"
"8. eine Adresse / institutionelle Anbindung des Autors, soweit, wie sie veröffentlicht werden soll. "

http://www.dguf.de/ai-redaktionsrichtlinien.html

[2020-06-26 07:23] archaeoklammt opened #31 "Finale: fünf Schlagwörter deutsch/englisch"
"5. eine Liste von mindestens fünf Schlagwörtern in deutscher und englischer Sprache; siehe DGUF-Handreichung zur Vergabe von Schlagwörtern (https://www.dguf.de/fileadmin/user_upload/publikationen/DGUF-Dok_Handreichung-fuer-Autoren_Schlagwoerter.pdf);"

[2020-06-26 07:25] SCSchmidt commented on #3
Wenn @hpclutz, @situx und Hubert ihre Haken gesetzt haben, können wir das ja mal durch nen Cluster-Algorithmus schicken... :-D

[2020-06-26 07:27] archaeoklammt opened #32 "Finale: Selbstvorstellung Autor*innen"
"7. am Ende eine kurze Selbstvorstellung des Autors/der Autoren ("Über den Autor")"

http://www.dguf.de/ai-redaktionsrichtlinien.html

[2020-06-26 07:32] archaeoklammt opened #33 "zur Einreichung: Erklärung Anteile Autorenschaft"
"12. eine kurze Erklärung über die Anteile einzelner Autoren am Manuskript (siehe unten: Autorenschaft);"

"Autorenschaft und Darlegung von Finanzierung und Interessenkonflikten
Die Arch. Inf. begrüßen wissenschaftliche Kooperationen und von mehreren Autoren verfasste Beiträge. Werden Beiträge von mehreren Autoren verfasst, sollte sich die Reihenfolge der Autoren an den naturwissenschaftlichen Gep

[2020-06-26 07:35] archaeoklammt opened #34 "zur Einreichung: Festlegen korresp. Autorinnen"
"3. die Angabe des korrespondierenden Autors inkl. Name, Titel, Adresse oder institutioneller Anbindung und E-Mail-Adresse, bei zwei Autoren zusätzlich auch für den Zweitautor;"

http://www.dguf.de/ai-redaktionsrichtlinien.html

[2020-06-26 07:51] nevrome commented on #2
@bellerophons-pegasus Danke - Ich habe mir überlegt, wo es hingehören könnte.

[2020-06-26 14:08] florianthiery commented on #33
das wird ne lustige Aufstellung ;-)

[2020-07-01 13:38] SCSchmidt commented on #34
uh. müssen wir jetzt diskutieren, wer numero 2 is?

[2020-07-01 13:43] SCSchmidt commented on #33
Würde sowas vorschlagen wie
"Vorlage des Themas und Ausarbeitung eines ersten Entwurfs nach Diskussion mit den Co-Autoren: Anne Klammt, für alle weiteren Änderungen bitten wir diese unter https://github.com/Research-Squirrel-Engineers/DGUF_Leitfaden/pulse nachzulesen."

[2020-07-01 13:44] SCSchmidt commented on #33
Ich mein. Wozu machen wir das denn alles online und open bitte. *eyeroll*

[2020-07-01 13:46] SCSchmidt commented on #33
Oder is der hier besser: https://github.com/Research-Squirrel-Engineers/DGUF_Leitfaden/graphs/contributors ?

[2020-07-01 14:05] florianthiery commented on #33
Oh ich muss schnell 200 commits machen dann komm ich nach vorn ;-) ich finde da ne alphabetische aufstellung die beste ganz ehrlich @SCSchmidt

[2020-07-01 16:03] archaeoklammt commented on #33
Vorschlag: Frage aktuell zurückstellen und nach Veröffentlichung als Github-Page konkret bei Arch.-Informationen anfragen, wie es laufen könnte, wenn der Beitrag angenommen wird. Er wird ja auch dort durch einen Review gehen. Ansonsten finde ich auch, dass es bei uns nicht passt. Aber eigentlich ist es sehr schön, dass die DGUF darauf achtet, dass nicht automatisch Laborleitungen oder die Prof. Dr

[2020-07-01 16:05] archaeoklammt commented on #34
Vorschlag: Frage zurückstellen und in Redaktionssitzung besprechen, wenn wir wissen, ob der Beitrag zur Veröff. angenommen wird.

[2020-07-01 16:09] archaeoklammt commented on #29
Es wäre prima, wenn wir den englischen Titel auch gleich bei der Veröffentlichung des Draft "testen lassen".

[2020-07-01 16:12] archaeoklammt commented on #20
Habe gerade Druckfahne von DGUF erhlaten und @SCSchmidt hatte natürlich recht: DGUF setzt alles einheitlich auf "Nutzer" etc. Insofern können wir schauen, dass wir entlang von @bellerophons-pegasus Handreichung arbeiten.
Ich benenne den Task daher um und schiebe ihn wie vorgeschlagen zum Meilenstein "Endredaktion".

[2020-07-01 16:49] SCSchmidt commented on #33
:-D  Dann mal los, @florianthiery ! go get your :1st_place_medal:

Tja, Anzahl von commits ist kein perfektes Maß für Input. Aber hier ging es ja nicht nach Aufstellung der Autoren, sondern darum, dass der Einfluss der einzelnen Autoren auf den Text dargelegt werden soll. Und @archaeoklammt hat recht. Das ist eigentlich ein feature und kein bug. Guter Hinweis!
Finde es aber doch auch schwierig. Wi

[2020-07-01 16:54] SCSchmidt commented on #29
"Recommendations for the review of archaeological research software - what constitutes "good" research software"?
Oder wolltest du den Titel allgemin nochmal diskutieren?

Du meinst schonmal mit anlegen und von Leuten kommentieren lassen?

[2020-07-01 20:23] florianthiery commented on #33
Jups @SCSchmidt finde das generell für nen Fachbeitrag richtig nur sind wir hier kein klassischer Beitrag ;-)

[2020-07-01 20:43] florianthiery opened #36 "Kapitel Forschungssoftware"
Kommentare in Fließtext einbinden -> 2/3 Juli^^

[2020-07-03 07:41] hpclutz commented on #3
Ok, sorry, die Liste ist viel zu umfangreich, um hilfreich zu sein. Viele der angeführten Punkte sind harte Spezifikationen, die zwar in einer Rezension angeführt werden können, aber eigentlich keine Beurteilung darstellen. Ich würde daher vorschlagen, in "harte" und "weiche" Kriterien zu unterteilen - damit meine ich nicht prio, sondern ob diese rein technisch sind (Lizenzen, Dateiformate) oder s

[2020-07-03 07:44] hpclutz commented on #2
Beim Überarbeiten von ein paar Rezensionskriterien ist mir ein starker Überlapp aufgefallen, wie z.B. Nutzbarkeit und Hilfedateien. Ich schlage vor, die Kriterien hierarchisch zu untergliedern in solche die einer Spezifikation ähneln und solche die eher subjektiver Natur sind - vgl. auch Issue #3

[2020-07-03 07:47] #36 closed, assigned to florianthiery

[2020-07-03 15:31] archaeoklammt commented on #33
Oui! C'est vrai.

[2020-07-03 15:43] hpclutz commented on #33
Ganz ehrlich, bei der Anzahl Autoren spielt nur noch Erst- und Letztautor eine Rolle und detaillierte Aufschlüsselung ist imho nicht relevant ;)

[2020-07-04 13:08] archaeoklammt opened #38 "Umstellen Kriterien"
Entsprechend Besprechung vom 03/07/2020

[2020-07-04 13:10] archaeoklammt opened #39 "Zitation umwandeln nach APA-6 style s. cslDatei"
Wie besprochen am 03/07/2020

[2020-07-04 13:11] archaeoklammt commented on #3
Liste wird jetzt einsortiert in Draft und Umfrage ist geschlossen.

[2020-07-04 13:11] #3 closed, assigned to bellerophons-pegasus, florianthiery, hpclutz, nevrome, SCSchmidt, ennatmm

[2020-07-04 13:15] archaeoklammt commented on #22
Läuft, daher als issue geschlossen

[2020-07-04 13:15] #22 closed, assigned to nobody

[2020-07-04 13:18] archaeoklammt commented on #2
Ich schließe den Task, denn die generelle Gliederung steht nicht mehr so in der Diskussion, sondern der zweite Teil - die Ideen zur Vorgehensweise und den konkreten Kriterien. Hier sind fallen jeweils spezifische ToDos an, die als neue Issues laufen können.

[2020-07-04 13:18] #2 closed, assigned to bellerophons-pegasus, nevrome

[2020-07-06 16:50] archaeoklammt commented on #38
Ich bin erst zu 50% durch.

[2020-07-06 16:52] archaeoklammt commented on #23
Geschlossen (erfolgreich !), weil inzwischen Teil von Issue "Umstellen" und dann anschließend neuer Issue "Eindampfen".

[2020-07-06 16:52] #23 closed, assigned to nobody

[2020-07-10 17:14] bellerophons-pegasus commented on #8
Es gibt ein Journal für die Rezension von digitalen Editionen und anderen Ressourcen: [A review journal for digital editions and resources](https://ride.i-d-e.de/issues/issue-12/). Sie haben auch einen eigenen [Kriterienkatalog](https://www.i-d-e.de/publikationen/weitereschriften/kriterien-version-1-1/) erarbeitet. Eine Ausgabe widmet sich [speziell einigen Tools](https://ride.i-d-e.de/issues/issu

[2020-07-14 11:52] archaeoklammt commented on #38
Aber es wurde schon weitergemacht. Parfait! Dann schließe ich den Issue!

[2020-07-14 11:52] #38 closed, assigned to archaeoklammt

[2020-07-14 11:54] archaeoklammt commented on #8
Was konkret soll jetzt mit den gesammelten Rezensionen passieren? Da wir öffentlich - und erfolgreich - gefragt haben, sollte das jetzt auch eingebracht werden.

[2020-08-16 11:43] situx commented on #32
Ich habe für die Selbstvorstellungen der Autoren am Beginn der Draft.md pro Autor einen bio: Key erstellt. Ihr könnt bei mir für ein Beispiel schauen.
Dort könnt ihr die Selbstvorstellung schreiben.
Mir ist noch nicht klar wo die Selbstvorstellungen in der Publikation erscheinen sollen, aber wenn wir das wissen kann ich das Layout so anpassen, dass sie dort erscheinen.

[2020-08-16 11:44] situx commented on #30
Alle Autoren können am Anfang der Draft.md Datei ihre ORCID angeben und sie wird sofern vorhanden auch mit in den Titel übernommen.
Für einige Autoren habe ich die ORCIDs auch bereits herausgesucht. Bitte prüft ob ich dabei keinen Fehler gemacht habe.

[2020-08-16 11:46] situx commented on #39
Ein Grossteil der Änderungen des Zitierungsstils ist bereits geschafft. Ich lese nochmal das APA6 Dokument der DGUF durch um auch wirklich alle Details beachtet zu haben.

[2020-08-16 11:47] situx commented on #31
Schlagwörter können nun ebenfalls in der Draft.md unter den keywords und keywords_en keys hinzugefügt werden. Über den Stil können wir ggf. noch reden.

[2020-09-13 06:38] archaeoklammt commented on #34
A.) Mal pragmatisch: Wer nimmt es auf sich, die Kommunikation zu führen und Fragen in die Gruppe zu tragen, verlässlich zu antworten usw.?
B.) Ich plädiere für ein nach Vorne treten, der Software-Entiwckler/innen unter uns

[2020-09-13 06:40] archaeoklammt commented on #32
Ich habe diese Selbstvorstellung aus den Redaktionsrichtlinien gezogen, aber selbst noch bei keiner Rezension in den Arch. Informationen verwendet. Entsprechend ist das wohl wenn nur bei den Forschungsbeiträgen in der Zeitschrift so und wir können diesen Punkt streichen. Daher habe ich den Task geschlossen. Danke Timo für die Arbeit!

[2020-09-13 06:40] #32 closed, assigned to nobody

[2020-09-13 06:43] archaeoklammt commented on #33
Auch hier ist mir nach einigem Überlegen eingefallen, dass bei einer Rezension, die ich mit einem Kurs zusammen erstelt habe, nichts Vergelichbares von den Arch. Informationen gefordert wurde. Ich vermute also auch hier, dass die Redaktionsrichtlinien sich hier auf die Forschungsbeiträge in der Zeitschrift beziehen. Daher schließe ich diesen Task.

[2020-09-13 06:43] #33 closed, assigned to nobody

[2020-09-13 06:46] archaeoklammt commented on #31
Super. Bei meinen beiden Rezensionen, die gerade über die DGUF rausgegangen sind, musste ich allerdings keine Schlagwörter vergeben. Anscheinend beziehen sich die Redaktionsrichtlinien auf Forschungsbeiträge. ABER man soll gerne für die Veröffentlichung des Preprint und dessen Bewerbung über Twitter und Facebook Hashtags vergeben. Dafür könnten wir unsere Keywords nutzen.

[2020-09-13 18:18] archaeoklammt commented on #5
Können wir nicht ermöglichen, dass Änderungen auch direkt als Issues angelegt werden können, von den Leserinnen und Lesern ?

[2020-09-14 12:41] situx commented on #5
Ich denke mal Issues kann jeder anlegen der einen Github Account hat, genauso wie Pull Requests.

[2020-09-18 08:24] archaeoklammt commented on #34
Geklärt beim Treffen am 17/09.

[2020-09-18 08:24] #34 closed, assigned to nobody

[2020-09-18 08:24] archaeoklammt commented on #31
Geklärt beim Treffen am 17/09

[2020-09-18 08:24] #31 closed, assigned to nobody

[2020-09-18 08:25] archaeoklammt commented on #5
Geklärt beim Treffen am 17/09

[2020-09-18 08:25] #5 closed, assigned to bellerophons-pegasus, situx, florianthiery, nevrome, SCSchmidt

[2020-09-18 08:25] #20 closed, assigned to nobody

[2020-09-18 08:25] archaeoklammt commented on #30
Done und danke!

[2020-09-18 08:25] #30 closed, assigned to nobody

[2020-09-18 08:28] archaeoklammt commented on #29
Done und Danke

[2020-09-18 08:28] #29 closed, assigned to nobody

[2020-09-18 08:29] archaeoklammt commented on #8
In Vorschlag für Optimierung umwandeln?

[2020-09-18 09:19] archaeoklammt commented on #39
Sind wir durch, oder?

[2020-09-18 22:17] situx commented on #39
Da wir nun ja nicht dem Zitierstil 1:1 in der Webversion folgen wollen ja

[2020-09-19 12:38] #39 closed, assigned to situx

[2020-09-28 20:44] bellerophons-pegasus opened #46 "Einleitung am Ende überarbeiten"
Wir sollten die Einleitung zum Schluss noch einmal überarbeiten, damit sie auch das widergibt, was wir dann erzählen.
Lokal habe ich schon mal angefangen; kommt bald als Pull request

[2020-09-28 20:47] bellerophons-pegasus opened #47 "Referenzen vereinheitlichen"
Mir ist aufgefallen, dass die Referenzen im Text nicht ganz einheitlich sind. Mal werden sie nur durch ein Komma voneinander getrennt, mal mit einem 'und' oder einem 'sowie'.

Außerdem gibt es mal einfach nur einen Link auf eine Webseite und manchmal dann eine im bibfile hinterlegte Referenz (auch nur mit einer Webseite). Dass sollte man zum Schluss auch noch einmal durchgehen.

[2020-10-08 20:02] #46 closed, assigned to bellerophons-pegasus

[2020-10-09 10:46] florianthiery opened #52 "Änderung von DGUF_Leitfaden zu DGUF_AspekteSoftwareRezension?"
Wir sollten den Namen des Repos dann auch ändern, wenn wir sonst überall das Wort Leitfaden raushaben wollen.

Änderung von DGUF_Leitfaden zu DGUF_AspekteSoftwareRezension?

[2020-10-09 10:51] SCSchmidt commented on #52
dafür. Wir benutzen "Impuls" im Text, das find ich ganz gut.

[2020-10-09 10:52] florianthiery commented on #52
also DGUF_AspekteSoftwareRezensionImpuls?

[2020-10-09 10:56] SCSchmidt commented on #52
eher "Impuls_SoftwareRezensionen_DGUF" ...

[2020-10-09 11:02] florianthiery commented on #52
find ich gut

[2020-10-09 11:25] archaeoklammt commented on #28
It's done! 👍

[2020-10-09 11:25] #28 closed, assigned to HubertMara

[2020-10-09 11:28] archaeoklammt commented on #47
Ein wenig schaut das @hpclutz beim Umwandeln an, @florianthiery ggfs. beim Grammatik Check mit einbeziehen.

[2020-10-09 11:28] #47 closed, assigned to hpclutz

[2020-10-10 17:24] bellerophons-pegasus commented on #52
kann man so machen

[2020-10-12 11:47] #52 closed, assigned to bellerophons-pegasus, situx, florianthiery, hpclutz, nevrome, SCSchmidt, ennatmm, archaeoklammt, HubertMara

[2020-11-15 13:55] bellerophons-pegasus opened #54 "Priorisierung der Aspekte herausarbeiten"
Unser Beitrag ist nun lang und doch recht detailliert, was auch bei der Begutachtung angemerkt wurde, mit dem Hinweis, dass 'normale' Nutzer abgeschreckt werden könnten.

Ein Vorschlag war:

Wichtig dabei zu beachten ist, dass wir nicht vergessen sollte was der ' typische
Archäologe' beurteilen kann.

[2020-11-15 13:59] bellerophons-pegasus opened #55 "Einleitung - Hinweise zum Lesen der Handreichung"
Da unser Beitrag sehr umfangreich ist, wäre ein Hinweis am Anfang des Textes - etwa am Ende der Einleitung - hilfreich, um den Leserschaft auf die für ihn oder sie relevanten Abschnitte zu verweisen.

[2020-11-15 14:05] bellerophons-pegasus opened #56 "Abschnitt 'Vorgehensweise' als Anleitung ausarbeiten"
Für den 'Normalrezensenten' könnte unsere Handreichung eine Keule sein, die eher zur Verwirrung beiträgt als dabei hilft eine Rezension von Forschungssoftware zu erstellen.

Die Gutachter dazu:

[2020-11-15 14:05] bellerophons-pegasus commented on #56
Ein Vorschlag von @situx dazu:
Wäre vielleicht eine Grafik oder ein Entscheidungsbaum hilfreich?
Sowas wie: Was ist mein Background und welche Aspekte sollten hier
besonders wichtig sein? Ich denke das kam raus, dass man sich eine Art
"Leitfaden für den Leitfaden" wünscht weil die vielen Kriterien die wir
aufgeworfen haben doch vll etwas erschlagend wirken.

[2020-11-15 14:07] bellerophons-pegasus opened #57 "Kürzungen vornehmen"
Ich weiß es tut weh, aber wenn man den Beitrag liest, findet man sicher noch ein paar Stellen die gekürzt, gestrafft oder vielleicht sogar gestrichen werden können.

[2020-11-15 14:20] bellerophons-pegasus opened #58 "Überschriftenhierarchie prüfen"

[2020-11-21 18:02] archaeoklammt commented on #56
Stimme zu, dass die Kritik berechtigt ist und man das aufnehmen sollte. Die Idee eines Entscheidnungsbaums finde ich fortführend, aber denke, wir sollten ihn implizit in den Text einarbeiten. Unter anderem, weil diese Entscheidungsbäume meiner Meinung nach dann doch wieder auf Stereotypen, wie die der "normale" Leserin bzw. des "normalen" Lesers hinauslaufen und diese fortschreiben. Weiterhin find

[2020-11-21 19:29] bellerophons-pegasus commented on #54
Mir ist eine Idee gekommen, wie wir eine Priorisierung erarbeiten können.
Und zwar sind hier weiter unten alle Fragen aufgelistet. Aus dieser Liste bitte ich nun jeden _**ab Frage 8**_ seine 6 _'must have'_ und seine 4 _'nice to have'_ Fragen aufzulisten (einfach die Nummern gereiht nach deren Wichtigkeit (erste Zahl am wichtigsten, zweite etwas weniger usw.)). Am besten ohne bei den anderen zu sp

[2020-11-21 22:24] florianthiery commented on #54
Danke @bellerophons-pegasus kleine Anmerkung von mir: Was mir nur gerade auffällt: Die Fragen 1,2,3,4,6,7,9,12 sind eigentlich Dinge die von jedem der rezensiert beantwortet werden müsste, der Rest ist "optional", aber ohne die davor kann man m. M. nach eine **archäologische** **Forschungssoftware** gar nicht beurteilen (was heißt dass jeder von uns diese Nummern auf jeden Fall angeben müsste :-/)

[2020-11-22 11:11] archaeoklammt commented on #54
Liebe Martina, liebe Alle,
ich stimme Florian zu und wollte auch noch einmal fragen, ob wir nicht viel eher noch einmal im Text stärker folgende Aspekte herausarbeiten sollten:
- es geht im ersten Teil darum, ein Bild davon zu entwickeln, was gute Forschungssoftware ausmacht und wenn dies in einer der Anmerkungen als "Handreichung zum Schreiben guter Software" verstanden wurde, dann muss ich sagen

[2020-11-22 15:27] bellerophons-pegasus commented on #54
Hm, @florianthiery ganz unrecht hast du da nicht. Allerdings würde ich dir in deiner Liste nicht im Detail zustimmen, da ich z.B. 3, 7, und 12 nicht dazurechnen würde...
Der Plan ist jetzt auch nicht ganz explizit in dem Text zu schreiben Fragen x, y, und z müssen in einer Rezension bearbeitet werden, sondern eher zu betonen, dass bestimmte Themenbereiche wichtig sind. Das was Anne da kommentiert

[2020-11-22 15:32] florianthiery commented on #54
Hej @bellerophons-pegasus 3 und 7 könnten auch optional sein aber 12 (Ist die archäologische Nutzung vorgesehen?) sollte schon wichtig sein für eine DGUF Rezension :-) damit ab 8 die Favoriten zu suchen finde ich gut, meinte nur, dass vllt eine Kategorie "must" eine "must have" eine "nice to have" und eine "other" draus werden könnte :-)

[2020-11-22 16:04] bellerophons-pegasus commented on #54
Das wären für meinen Geschmack dann zu viele Kategorien ;-)

[2020-11-22 16:07] florianthiery commented on #54
jups nur von der Idee her :-) ich poste dann bald mal meine fav`s ab 8

[2020-11-22 16:09] bellerophons-pegasus commented on #58
Das ist die Hierarchie (Nummern bei den Fragen einfach ignorieren, habe recycled). Hinter der Überschrift steht in Klammern jeweils die Ebene.

## Zielsetzung des Beitrags (2)

## Forschungssoftware (2)

### Forschungssoftware als wissenschaftliche Leistung (3)

### Gute Forschungssoftware (3)

#### FAIR-Prinzipien (4)

##### Findable (Auffindbar) (5)

##### Accessible (Zugänglich) (5)

##### Inte

[2020-11-22 16:18] florianthiery commented on #54
**mh**

- 31 Ist die Dokumentation aktuell und adressiert sie alle Funktionen des Programms?
- 36 Wird an der Software aktiv gearbeitet?
- 21 Wird die Software von einer Community getragen? Ist diese möglicherweise ganz oder teilweise altertumswissenschaftlich geprägt?
- 26 Gibt es eine Programmierschnittstelle (API)?
- 9 Handelt es sich um eine eigenständige (stand-alone) Software oder um eine We

[2020-11-22 18:35] archaeoklammt commented on #54
Ich nehme nun tatsächlich nach Monaten zur Kenntnis, dass die Rubrik für die Softwarerezensionen "Archäoinformatik" benannt ist. Das habe ich bis jetzt übersehen - sogar in unserem eigenen Text - und werfe mir das vor. Ich halte das für eine mindestens mal unglückliche Benennung. Und ich frage mich, was ist an Biblatext for Archaeology "Archäoinformatik".

[2020-11-24 14:01] HubertMara commented on #54
Liebe Alle,

Ich sehe hier wieder einiges an Aktivität, die für mich ebenfalls etwas
schwierig zu tracken ist. Wollen wir uns dazu vielleicht auch mal wieder
in gewohnter virtueller Weise treffen? Das würde mir helfen die Stelle
zu identifizieren an denen ich etwas sinnvolles beitragen kann.

Archäoinformatik ist wie Digital Humanities oder eHumanities: da gibt es
verschiedene Ansichten und Meinun

[2020-11-25 10:13] nevrome commented on #54
**mh**

- 8
- 11
- 18
- 21
- 23 (& 24)
- 37

**nth**

- 16
- 19
- 29
- 35

[2020-11-25 10:43] nevrome commented on #58
Ich sehe hier kein offensichtliches Problem.

**Mögliche Vorgehensweise zur Rezension archäologischer Forschungssoftware** ist sehr kurz für seinen Lvl. 2 Status, aber alternativen Setups -- wie z.B. alle Abschnitte ab diesem ein Lvl. abzustufen -- scheinen mir auch nicht besser. Ich denke, wir könnten diesen Kommentar einfach ignorieren oder bestätigen, dass die Überschriftenreihenfolge unser Ans

[2020-11-25 11:48] situx commented on #54
mh

- 8
- 23
- 24
- 25
- 26
- 37

nth
- 30
- 33
- 18
- 19

[2020-11-25 16:56] SCSchmidt commented on #54
**mh**
    22
    23
    24
    18
    31
    17

**nth**
    21
    37
    15
    28

[2020-12-05 17:16] archaeoklammt commented on #54
**mh** Archäologie
1
4
2
5 aber klar, dass es nicht immer geht

**nh** Archäologie
3
6
7

*mth* Bedienbarkeit und Zielgruppenorientierung
12
27
14 (wenn die Software NICHt in englisch ist)
8
9

*mth* Bedienbarkeit und Zielgruppenorientierung

10
18
21
23
26

[2020-12-07 14:58] bellerophons-pegasus commented on #54
Sehr schön, wenn ich die must have Fragen doppelt gewichte, bekommen wir:

18  (9) - Gibt es ausreichend Tutorials für das Erlernen der Software?
21  (8) - Wird die Software von einer Community getragen? Ist diese möglicherweise ganz oder teilweise altertumswissenschaftlich geprägt?
23  (8) - Welche Datenformate werden wie eingelesen?
8    (7) - Wie funktioniert die Installation und wo wird die So

[2020-12-07 15:00] bellerophons-pegasus commented on #58
Ja, ich hatte auch den Eindruck, dass das passt. Werde noch mal in dem docx-Dokumen nachprüfen, ob da vielleicht was verrutscht war. Aber denke, das passt alle so.

[2020-12-07 15:03] #58 closed, assigned to nobody

[2020-12-08 16:25] SCSchmidt commented on #54
Okay, cool. Danke, @bellerophons-pegasus!
Wie wollen wir das in den Artikel einarbeiten? Die Reihenfolge innerhalb der Kategorien danach ausrichten? Oder noch einmal explizit die Fragen ansprechen, die wir nach unserem ranking für besonders wichtig halten?

[2020-12-09 13:08] bellerophons-pegasus commented on #55
Habe dafür mal den zweiten Absatz etwas ergaänzt:

Man könnte dort noch Hinweise einbetten wer mit welchem Wissen wo starten kann. Oder reicht das vielleicht so schon?

[2020-12-09 13:10] bellerophons-pegasus commented on #54
Ich hatte mir überlegt das in #56 einzubauen.  Textvorschlag kommt gleich.

[2020-12-09 14:23] bellerophons-pegasus commented on #56
Das wäre mein Vorschlag, mit Bitte um Feedback:

[2020-12-09 14:26] bellerophons-pegasus opened #59 "Ausblick - streichen oder überarbeiten?"
Aktuell wirkt der Ausblick auf mich etwas 'hinten dran geklatscht'. Eventuell kann man den auch streichen und die relevanten Passagen daraus auch in die Einleitung oder die Einleitung für den Fragenkatalog übernehmen?

[2020-12-09 14:34] florianthiery commented on #56
ich find den Teil sehr gut @bellerophons-pegasus :-)

[2020-12-09 14:54] archaeoklammt commented on #56
Liebe Martina,
Ich finde es sehr gut !!

Beste Grüße
Anne

[2020-12-09 17:00] situx commented on #56
Ich finde den Text auch gut, frage mich aber ob deutlich genug herauskommt, dass die Fragenkataloge als Angebot an die Reviewer verstanden werden diese je nach ihrem Wissensstand zu verwenden.
Ich glaube aktuell klingt es noch so als würden wir verschiedene Dinge verschieden gewichten, aber es könnte so verstanden werden, dass ein Reviewer diese trotzdem bearbeiten soll oder sich für die Review ei

[2020-12-10 08:34] archaeoklammt commented on #56
Stimmt vielleicht, am besten konkreten Textvorschlag als Alternative anbieten. Das geht am leichtesten zu verarbeiten.

________________________________

Deutsches Forum für Kunstgeschichte Paris

Centre allemand d’histoire de l’art Paris

Hôtel Lully

45, rue des Petits Champs

F-75001 Paris

https://dfk-paris.org

________________________________
From: Timo [notifications@github.com]
Sent: Wedne

[2020-12-10 16:55] nevrome commented on #56
Ich finde Martinas Text super. Vielleicht könnte man die Priorisierung im Katalog durch eine kleine Markierung hervorheben. z.B. könnte man jedem von uns als essentiell beschiedenen Punkt ein "⚠" oder etwas ähnliches voranstellen. In Lehrbüchern sind solche visuellen Hilfen ja sehr verbreitet. z.B.:

Dann würde ich in dem Text oben nach

noch folgendes einfügen:

[2020-12-14 17:17] bellerophons-pegasus commented on #59
Neue Überschrift: "Wie geht es weiter?"

* Diskussionsbeitrag
* Unsere Sicht der Dinge, nun bitte eure Stellungnahme

[2020-12-14 17:17] bellerophons-pegasus commented on #59
Die anderen Inhalte vorne in Zielsetzung einarbeiten bzw. streichen, da teilweise schon vorhanden.

[2020-12-14 17:40] bellerophons-pegasus commented on #56
Wir könnten sogar etwas abstufen: :bangbang: und :heavy_exclamation_mark:

[2020-12-14 17:52] bellerophons-pegasus commented on #56
Neuer Enwurf. Etwas kürzer.

Als Beispiel für die Folgefragen habe ich das Thema 'Installation' genommen, da es an erster Stelle stand. Wenn ihr aber eines der anderen Themen aus dem dann entfernten Absatz (unten zur Referenz reinkopiert) lieber haben wollt, bitte melden. Ich würde aber sagen, dass ein Beispiel reicht, da wir ja sowieso den Fragenkatalog haben.

[2020-12-14 17:56] bellerophons-pegasus commented on #54
Zur Markierung im Fragenkatalog:

:bangbang:
1-8 und 18, 21,23, 24,26, 37

:heavy_exclamation_mark:
9-12, 17, 19, 22, 25, 31, 36

Die Fragen, die nur einen Punkt bekommen hatten, würde ich unmarkiert lassen, da wir ansonsten nur fünf Fragen ohne Kennzeichnung haben.

[2020-12-14 18:09] bellerophons-pegasus commented on #59
Kurz und knackig?

Kann man aber ganz sicher noch eleganter formulieren.

[2020-12-14 18:11] #55 closed, assigned to nobody

[2020-12-14 18:26] bellerophons-pegasus commented on #57
FAIR: Unterüberschriften entfernt; Dabei auch ein paar (wenige) Worte eingespart

[2020-12-17 10:28] florianthiery commented on #8
was machen wir hier mit dem issue eigentlich? sollten wir da noch was in den Text einfließen lassen? @bellerophons-pegasus @SCSchmidt @nevrome @situx @florianthiery @archaeoklammt

[2020-12-17 11:31] nevrome commented on #8
Jedes gute Paper hat auch einmal ein Ende - ich denke, wir können uns diese Munition für das nächste sparen. Ich denke nicht, dass wir den Rezensionen in einem schnell angestückten Absatz gerecht werden würden.

Die von Martina angefügten Ressourcen zu "Digitalen Ausgaben" (?) scheinen sich nach meiner schnellen Durchsicht bestenfalls randlich mit Software zu beschäftigen. Also speziell der Kriter

[2020-12-17 11:33] florianthiery commented on #8
Munition ist gut :-) habs nur gesehen und dachte vergessen sollten wir es nicht.

[2020-12-17 11:35] nevrome commented on #59
Wenn es wirklich nur darauf hinauslaufen würde, dann würde ich auf diesen kleinen Annex verzichten. In der Sache steht das alles schon in der Einleitung.

[2020-12-17 11:37] florianthiery commented on #59
Bei mir siehe PR #61 ich fände es gut so als Klammer im Text dass es nicht mit QGIS irgendwie aufhört. Aber ist meine persönliche Meinung ;-)

[2020-12-17 13:48] nevrome commented on #56
Gefällt mir. Nur ein kleiner, sprachlicher Änderungswunsch:

Statt

lieber

[2020-12-17 14:15] archaeoklammt commented on #56
1A

________________________________

Deutsches Forum für Kunstgeschichte Paris

Centre allemand d’histoire de l’art Paris

Hôtel Lully

45, rue des Petits Champs

F-75001 Paris

https://dfk-paris.org

________________________________
From: Clemens Schmid [notifications@github.com]
Sent: Thursday, December 17, 2020 2:49 PM
To: Research-Squirrel-Engineers/Impuls_SoftwareRezensionen_DGUF
Cc: Klammt,

[2020-12-17 16:31] SCSchmidt commented on #56
Super!

[2020-12-17 21:44] bellerophons-pegasus commented on #56
gelöst und gepusht

[2020-12-17 21:44] #56 closed, assigned to bellerophons-pegasus, situx, florianthiery, nevrome, SCSchmidt, archaeoklammt

[2020-12-17 21:45] #54 closed, assigned to bellerophons-pegasus, situx, florianthiery, hpclutz, nevrome, SCSchmidt, ennatmm, archaeoklammt, HubertMara

[2020-12-17 21:51] bellerophons-pegasus commented on #8
@nevrome es handelt sich übrigens um 'Digitale Editionen' ... ein Lieblingsoutput aus den textlastigen Geisteswissenschaften (so auch hier am ACDH-CH ;-) ). Ich würde viele Kriterien im Katalog unter Punkt 4 in die Ecke 'Benutzerfreundlichkeit' und 'Interface' stecken.

[2020-12-17 21:53] nevrome commented on #8
Fair enough - das ist sicher eine eigene Welt.

[2020-12-17 21:54] florianthiery commented on #8
ohja, dann gibt es auch noch die Ding-Editionen auch eine Welt für sich^^

[2020-12-17 22:05] #57 closed, assigned to nobody

[2020-12-17 22:05] #59 closed, assigned to nobody

[2020-12-17 22:29] bellerophons-pegasus opened #64 "Frage in der Frage"
Gerade habe ich noch was entdeckt, das nochmal etwas Zuwendung braucht, da es eine Frage ist, in der noch eine Frage vorkommt:

* :heavy_exclamation_mark:**Handelt es sich um eine eigenständige (stand-alone) Software oder um eine Webanwendung?** Nicht jede Software muss lokal installiert werden, um genutzt werden zu können. Webanwendungen, die entweder dynamisch im Browser oder auf einem Server au

[2020-12-17 22:34] nevrome commented on #64
Ich glaube weder noch. Die innere Frage bezieht sich ja auf die Rahmenfrage: *Stand-alone client oder Webapp und ist die gewählte Lösung sinnvoll?* - Das gehört zusammen. Tatsächlich gibt die zweite Frage der ersten erst wirklich Sinn.

[2020-12-17 22:36] florianthiery commented on #64
eher

Nicht jede Software muss lokal installiert werden, um genutzt werden zu können. Webanwendungen, die entweder dynamisch im Browser oder auf einem Server ausgeführt werden, sind heute zu beliebig komplexen Operationen in der Lage. _Daher stellt sich die Frage, ob die Anwendung eher als lokale Installation oder als Webanwendung zum Einsatz in der archäologischen Praxis taugt._ Webanwendungen kö

[2020-12-17 22:37] florianthiery commented on #64
hab die Frage mal in Text umformuliert (kursiv) der glaube ich in der Frage enthalten ist, oder @bellerophons-pegasus @nevrome ?

[2020-12-17 22:45] florianthiery commented on #64
siehe #65

[2020-12-18 08:54] archaeoklammt commented on #64
@florianthiery genau so war es gemeint, wie es jetzt umformuliert ist.

[2020-12-18 10:25] #64 closed, assigned to nobody

[2021-01-04 20:03] bellerophons-pegasus opened #66 "Für Twitter in 250 Zeichen unser 'Elevator Pitch'"
Der Beitrag wird von der DGUF auf Twitter angekündigt und dafür ist eine 250-Zeichen lange Beschreibung nützlich.

Ein erster Aufschlag (mit 287 etwas zu lang):

Die Erstellung von Forschungssoftware stellt eine eigene wissenschaftliche Leistung in der Archäologie dar, welche durch geeignete Rezensionen sichtbar wird. Wir bieten einen Diskussionsimpuls zur Etablierung eines gemeinsamen Verständnis

[2021-01-04 20:07] bellerophons-pegasus opened #67 "Für Twitter und FB"
Die DGUF wird den Beitrag auf Twitter und Facebook bewerben.
Dazu wären dann entsprechende Profile (FB & Twitter), Institutions-Handles (Twitter) und in absteigender Wichtigkeit Hashtags (Twitter) notwendig.

(Wer das hier nicht alles aufschreiben mag, kann mir das auch per E-Mail schicken)

[2021-01-05 11:10] HubertMara commented on #66
179 Zeichen: Diskussionsimpuls für faire Rezensionen, Sichtbarmachung und Etablierung eines gemeinsamen Verständnisses für Forschungssoftware als wissenschaftliche Leistung in der Archäologie.

[2021-01-05 11:32] HubertMara commented on #67
Twitter: @_mainzed @i3mainz
Facebook ist weniger genutzt, daher nur der FB Technik: https://www.facebook.com/technik.hsmainz

[2021-01-05 13:56] archaeoklammt commented on #66
#RSE #Archäologie #review

[2021-01-05 14:04] archaeoklammt commented on #66
Forschungssoftware greift tief in archäologische Forschung ein, umso wichtiger, dass nun Rezensionen die Software selbst in den Blick nehmen. Aber welche Kriterien sollte eine angemessene Besprechung beachten? Ein Diskussionsimpuls

[2021-01-05 14:08] archaeoklammt commented on #67
Twitter: @DFKParis
Facebook: @DFKParis
instagram: @dfkparis
Twitter: @archaeoklammt

[2021-01-06 13:41] nevrome commented on #67
Twitter: @nevromeCS + @MPI_SHH

[2021-01-07 13:29] HubertMara commented on #67
Wenn auch die persönlichen Accounts gelistet werden sollen, dann bitte auch meinen Twitteraccount: @HubertMara

[2021-01-07 23:31] florianthiery commented on #67
Twitter: @fthierygeo und @RSESquirrel

[2021-01-11 20:48] bellerophons-pegasus commented on #66
Mein Versuch alle drei Vorschläge in eines zu packen, inklusive Synonymgetrickse (248 Zeichen):

Da Forschungssoftware tief in archäologische Forschung eingreift, ist ihre faire Rezension wichtig. Ein Diskussionsimpuls zu Bewertungskriterien und der Bildung eines Konsens für Forschungssoftware als wissenschaftliche Leistung in der Archäologie.

[2021-01-11 20:49] #66 closed, assigned to nobody

[2021-01-11 20:51] #67 closed, assigned to nobody

[2021-01-27 23:32] moritzschepp opened #68 "Dienstleistungen zukaufbar?"
Ein interessantes Vorhaben! @archaeoklammt hat mir erlaubt, Input zu geben :)

Ihr könntet überlegen, ob Ihr noch Fragen zu Dienstleistungen mit einbaut: Etwa in wie fern ein Forschungsprojekt Weiterentwicklungen, Wartung oder Hosting zukaufen kann, ohne selbst Personal einzustellen und einzuarbeiten.

Daran schließen sich auch gleich Fragen zur Code-Quality an. Das könnte für potentielle Nutzer e

[2021-01-28 08:17] bellerophons-pegasus commented on #68
Vielen Dank!
Da wir schon im early view veröffentlicht wurden, wird der Text jetzt noch nicht direkt weiter angepasst. Sobald aber ausreichend Input da ist, ist ein Folgeartikel sicher vorstellbar.

[2021-01-28 10:22] HubertMara commented on #68
Alle diese indirekten Kosten wie Schulung, Lernaufwand=Arbeitszeit, Wartung sind ein interessantes Thema. Das ist an der Stelle mit der Projektplanung nur ganz leicht angedeutet. Meiner Meinung könnte man das sogar als eigenen Artikel ausarbeiten zB mit einem Vergleich von geschätzten Kosten für verschiedene Programme. Das ist auch spannend in Kombination mit Hardware. Analog zu "The Cost of 3D Da

[2021-02-04 17:59] bellerophons-pegasus opened #70 "Acknowledgements für EN text"
Wir brauchen einen kleinen Text, um Dank und Credit zu geben.

Für unsere Korrekturleserin und ich würde sogar vorschlagen DeepL zu erwähnen.

Könnten wir im draft unten anbringen vor oder nach den notes.

[2021-02-04 18:01] florianthiery commented on #70
Jups beides wäre wunderbar. Und vllt auch Lutz.

[2021-02-04 22:03] #70 closed, assigned to HubertMara

[2021-02-11 11:59] HubertMara opened #71 "Data-Literacy-Charta des Stiftverbands"
Passend zu FAIR und CAIRE wäre diese neue Charta eventuell ebenfalls nennenswert in der nächsten Version:

https://www.stifterverband.org/charta-data-literacy

bzw. [data-literacy-charta_v1_1.pdf](https://github.com/Research-Squirrel-Engineers/Impuls_SoftwareRezensionen_DGUF/files/5965022/data-literacy-charta_v1_1.pdf)

[2021-02-11 17:16] nevrome opened #72 "Greetings github action"
@ennatmm You enabled a Github Action to moderate this issue forum (https://github.com/Research-Squirrel-Engineers/Impuls_SoftwareRezensionen_DGUF/blob/master/.github/workflows/greetings.yml), but apparently you forgot to configure it then.

If you really want to have this, then we should replace "Message that will be displayed on users'' first issue" with something actually useful :smile:. Or mayb

[2021-02-11 17:17] nevrome commented on #72
:point_up_2: this

[2021-02-11 18:33] HubertMara commented on #72
I'd vote for deactivate as I don't see any point in that message.

[2021-02-12 07:17] bellerophons-pegasus commented on #72
But it might be helpful for people reacting to our article.

I also replied to our first issue from external side with a short text explaining, that we won't immediately change the text.

[2021-03-22 15:45] HubertMara opened #75 "New impuls paper about digital change in scientific practice (in German)"
Diskussionspapier der Arbeitsgruppe „Wissenschaftspraxis"

https://doi.org/10.48440/allianzoa.041

... ist vielleicht in einer neuen Version zu zitieren bzw. berücksichtigen.

[2021-03-26 07:25] bellerophons-pegasus opened #76 "Rezension von Datensätzen"
Manche 'Software' kommt als Online-Datenbank mit entsprechenden Einträgen daher. Da gilt es nicht nur die Datenbank, sondern auch die Daten zu rezensieren.

Auch einfach nur Datensätze könnten meines Erachtens ein Review bekommen.

[2021-03-26 07:28] florianthiery commented on #76
Beispiele? @bellerophons-pegasus

[2021-03-26 07:47] bellerophons-pegasus commented on #76
* https://sigla.phis.me/#:

Oder natürlich archäologische Datensätze, die wir z.B. bei uns archivieren:
* http://hdl.handle.net/21.11115/0000-000C-D928-3
* http://hdl.handle.net/21.11115/0000-000B-DCC4-0
usw.

[2021-03-26 07:49] florianthiery commented on #76
Dazu gehört sicher auch ChronOntology, das Anne ja schonmal rezensiert hatte, oder?

[2021-03-26 09:15] HubertMara commented on #76
Interessante Diskussion und ein Klassiker: in der Informatik versteht man unter einer Datenbank die Infrastruktur, während man in der Archäologie eine Sammlung von Daten versteht, die durchwegs auch analog vorliegen kann. Eine minimale Anpassung für unseren Artikel wäre eine Abgrenzung, dass unser Impuls für Software als Infrastruktur gedacht ist. Gibt es schon einen Impuls zur Rezension von archä

[2021-04-09 07:52] HubertMara opened #77 "Digitales Publizieren in den Geisteswissenschaften: Begriffe, Standards, Empfehlungen (März'21)"
.... eine neue Publikation im größeren Kontext in den DH: https://doi.org/10.17175/wp_2021_001

Es besteht auch noch die Möglichkeit bis 25. April Kommentare zu setzen.

[2021-04-09 08:41] florianthiery commented on #77
@HubertMara da sollten wir auf jeden Fall reviews mit reinbringen

[2021-04-12 15:50] bellerophons-pegasus opened #78 "Text für welcome-bot formulieren"
Jeder, der zum ersten Mal ein Issue bei uns anlegt, bekommt von dem welcome-bot eine Nachricht.

Inhalte
* Danke
* Gruppe
* Zeithorizont

[2021-04-14 11:15] archaeoklammt commented on #78
**Vielen Dank für das Issue !** Wir freuen uns über das aktive Interesse an unserem Text, mit dem wir hoffen zur besseren wissenschaftlichen Wahrnehmung und angemessenen Diskussion von Forschungssoftware beitragen zu können.

Bitte haben Sie aber etwas Geduld. Als Team mit sieben Autor:innen benötigen wir einige Zeit, bis wir das Issue aufgreifen und reagieren. Dies kann ganz in Abhängigkeit der v

[2021-04-14 11:17] HubertMara commented on #78
Gefällt mir sehr gut, hat damit meine Zustimmung.

[2021-04-14 17:13] situx commented on #78
Ich finde es auch ok, aber wir können im Welcome Bot nur eine Nachricht einstellen und nicht nach Sprachen unterscheiden. Würde daher das englische nehmen

[2021-04-14 19:19] archaeoklammt commented on #78
Ich dachte eigentlich, dass der Bot es so ausspuckt, oben deutsch unten englisch (oder umgedreht).

[2021-04-14 19:35] situx commented on #78
Auch das wäre möglich

[2021-04-20 12:48] situx opened #79 "Neues Related Work: FAIR Research Software"
Neuer Artikel im Journal Patterns den wir mal abgleichen können für eine Revision:
https://www.sciencedirect.com/science/article/pii/S2666389921000362

[2021-04-20 13:40] HubertMara commented on #78
Ist auf jeden Fall nicht umgesetzt - siehe das Issue von Timo vor einer Stunde.

[2021-04-20 15:14] situx commented on #78
Wenn der Text final ist kann ich es umsetzen

[2021-04-20 15:35] archaeoklammt commented on #78
@situx Denke, er ist fest. Also bitte gerne umsetzen. Merci

[2021-04-20 15:38] situx commented on #78
Umgesetzt

[2021-04-20 15:38] #78 closed, assigned to bellerophons-pegasus, situx, florianthiery, nevrome, SCSchmidt, archaeoklammt, HubertMara

[2021-04-25 18:03] bellerophons-pegasus commented on #8
Habe gesehen, dass die auch einen [Kriterienkatalog auf Englisch](https://www.i-d-e.de/publikationen/weitereschriften/criteria-tools-version-1/) haben.

[2021-04-26 13:54] #72 closed, assigned to nobody

[2021-05-20 09:19] HubertMara opened #80 "Neues Related Work: Recognizing the value of software: a software citation guide"
_Recognizing the value of software: a software citation guide_

von Daniel S. Katz (https://orcid.org/0000-0001-5934-7525) et al.:

https://f1000research.com/articles/9-1257/v2

[2021-05-26 08:23] HubertMara opened #81 "Related work zur Tabelle: Onotologie zum Beschreiben von Software"
Vielleicht auch eine Inspiration zusätzlich zu der von uns vorgeschlagenen Tabelle: https://knowledgecaptureanddiscovery.github.io/SoftwareDescriptionOntology/release/1.9.0/index-en.html